#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# Hardware revision
on property:ro.boot.hwlevel=*
    setprop ro.boot.hardware.revision ${ro.boot.hwc}_${ro.boot.hwlevel}_${ro.boot.hwversion}

# Health
on boot
    chmod 0660 /sys/class/power_supply/battery/input_suspend
    chown system system /sys/class/power_supply/battery/input_suspend

# NVMAC
on property:init.svc.vendor.nv_mac=stopped
    start vendor.btmac-sh

service vendor.btmac-sh /vendor/bin/init.mi.btmac.sh
    class late_start
    user system
    group system bluetooth wifi
    oneshot
    disabled

# Touch
on boot
    chown system system /sys/devices/virtual/touch/touch_dev/bump_sample_rate
